public;9;http://download.ci.openharmony.cn/version/Master_Version/OpenHarmony_3.2.12.2/20230510_103810/version-Master_Version-OpenHarmony_3.2.12.2-20230510_103810-ohos-sdk-public.tar.gz
public;10;http://download.ci.openharmony.cn/version/Master_Version/OpenHarmony_4.0.10.11/20231014_004430/version-Master_Version-OpenHarmony_4.0.10.11-20231014_004430-ohos-sdk-public_4.0-release.tar.gz
public;11;http://download.ci.openharmony.cn/version/Master_Version/OpenHarmony_4.1.5.1/20231205_173341/version-Master_Version-OpenHarmony_4.1.5.1-20231205_173341-ohos-sdk-public_weekly.tar.gz
full;9;http://download.ci.openharmony.cn/version/Master_Version/OpenHarmony_3.2.12.2/20230510_103752/version-Master_Version-OpenHarmony_3.2.12.2-20230510_103752-ohos-sdk-full.tar.gz
full;10;http://download.ci.openharmony.cn/version/Release_Version/OpenHarmony_4.0.10.11_sp3/20231018_070938/version-Release_Version-OpenHarmony_4.0.10.11_sp3-20231018_070938-ohos-sdk-full_4.0-release.tar.gz
full;11;http://download.ci.openharmony.cn/version/Master_Version/OpenHarmony_4.1.5.1/20231205_173325/version-Master_Version-OpenHarmony_4.1.5.1-20231205_173325-ohos-sdk-full_weekly.tar.gz
